body {
    padding: 0%;
    margin: auto;
    background-color: black;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: center;
    top: 0%;
    position: sticky;
    background-color: black;
    width: inherit;
}

nav a {
    text-decoration: none;

}

nav a h1 {
    color: red;
    font-size: 3rem;
}

.Ordernow {
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

.first {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.leftsection {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.number a {
    font-size: 2.5rem;
    color: rgb(29, 206, 29);
    font-weight: bold;

}

.rightsection {
    color: yellow;
    
    width: 50rem;
}

.rightsection h2 {
    font-size: 3rem;
    font-weight: bold;
    
}

.second {
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
}

.upper {
    margin: 3rem 0rem;
}

.upper h2 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: gray;
}

.lower {
    color: rgba(9, 146, 164, 0.692);
    margin: 0rem 2rem;
}

.row {
    margin: 0rem 5rem;

}

.lower i {
    color: gold;
}

.col-md-4 {
    margin-bottom: 1rem;
}

#benefits1 {
    margin-top: 3rem;
}

.problems {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
}

.upperimg {
    display: flex;
    justify-content: center;
    width: max-content;
    margin: auto;
}

.lowerimg {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.benefits {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
}

.customer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

.orderform {
    height: 30rem;
    background-color: aqua;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #f3a63d;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1px;
    width: 100%;
    font-variant: all-petite-caps;
    font-weight: 700;
    font-size: x-large;
}

input[type="submit"]:hover {
    background-color: #ff4500;
}

input[type="tel"]:invalid {
    color: red;
}

.float-container {
    /*padding: 20px;*/
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    /*background: #232323;*/
    padding: 13px;
}

.float-child-left {
    width: 20%;
    float: left;
    /*padding: 20px;*/
    margin-left: -10px;
}

.float-child-right {
    width: 80%;
    float: right;
    margin-top: 10px;
    /*padding: 20px;*/
}

@media  (min-width:200px) and (max-width:800px) {
    *{
        width: auto;
        
    }
    .row{
        margin: 0%;
        
    }
    nav {
        width: 50rem;
    }
    nav a h1{
        font-size: 6rem;
    }
    .first {
        width: 50rem;
        height: 90rem;
    }
    .upper h2{
        font-size: 2.6rem;
        font-weight: bold;
    }
    
    .rightsection h2{
        font-size: 5rem;
    }
    .productimg  {
        height: 55rem;
        width: 25rem;
    }

    .number a {
        font-size: 4rem;
    }

    section {
        width: 50rem;
    }

    .container {
        width: 50rem;
    }

    .orderform {
        width: 50rem;
    }
    .float-child-right{
        font-size: 4rem;
    }
}
